[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.13.1"
torchvision = "*"
jupyter = "*"
pillow = "*"
pypng = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
scikit-image = "*"
pybullet = "*"
tensorboard = "*"
setuptools = "==59.5.0"
rospkg = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
